*{
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    font-family: 'Kurale', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h3{
    font-size: 24px;
    margin: 0;
}

nav ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: rgb(255, 145, 0);
    transition: 0.3s;
}

.home{
    padding: 97px 50px;
    display: flex;
    align-items: center;
}

.home-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modern-header{
    display: flex;
    justify-content: flex-start;
}

.modern-header .title{
    display: flex;
    justify-content: flex-end;
    font-family: 'Kurale', serif;
    font-size: 44px;
    font-weight: 400;
    width: 534px;
}

.modern-header .title h1{
    margin: 0;
}

.home .img-container{
    position: absolute;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
}

.home .img-container img{
    width: 558px;
    height: 598px;
    border: 100px solid rgba(16, 16, 16, 0.36);
    border-radius: 100%;
    padding: 50px;

}
.home .img-container .object{
    padding: 50px;
    border: 100px solid rgba(16, 16, 16, 0.36);
    border-radius: 100%;
}

.modern-header-wrapper .sub-title{
    font-family: 'poppins', sans-serif;
    font-size: 24px;
}

.modern-header-wrapper .desc{
    margin: 0;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    width: 480px;
}

main{
    display: flex;
    align-items: center;
}

#content{
    background-color: #101010;
}

.photos-album{
    padding: 50px;
}

.photos-album .title-photo{
    font-family: 'Kurale', serif;
    font-size: 24px;
}

.title-photo h3{
    margin: 0;
}

.desc-photo{
    font-family: 'poppins', serif;
    font-size: 16px;
}

.photos-album .photos{
    width: 200px;
    height: 310px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#photos{
    margin: 0;
}

.photos{
    margin: 0 0 0 5px;
    transition: 0.3s;
}

.photos:hover{
    box-shadow: 50px 50px #464646;
    transition: 0.3s;
}

.team{
    padding: 50px;
}

.title-team h3{
    margin: 0;
    font-family: 'Kurale', serif;
    font-size: 28px;
}

.desc-team p{
    font-family: 'poppins', serif;
    font-size: 16px;
}

.img-team-wrapper img{
    width: 200px;
    height: 310px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.team-identity p{
    font-size: 15px;
    font-family: 'poppins', serif;
}

.social-media-icon-wrapper i{
    font-size: 20px;
    transition: 0.3s;
    margin: 0 10px 0 0;
}

.team-member{
    display: flex;
    align-items: center;
}

.team-member .emily-jones{
    margin: 0 10px 0 0;
}

aside{
    background-color: #272727;
    padding: 377px 10px;
    display: flex;
    justify-content: center;
}

aside .img-container{
    display: flex;
    justify-content: center;
}

aside .img-container img{
    width: 178px;
    border-radius: 10px;
}

.aside-wrapper .aside-desc{
    font-size: 15px;
    font-family: 'poppins', serif;
}

.aside-desc p{
    text-align: center;
}

.icon-aside-container i{
    font-size: 20px;
    margin-right: 10px;
}

.icon-aside-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
